*{
	padding:0;
	margin:0;
}

body {
  background-size: 100%;
  background-position: center 50%;
  background-repeat: no-repeat;
  text-align: center;
  
 }
header {
    font-size: 70px;
    color: silver;
    padding: 0px;
    margin: 10px;
    text-align: center 50%;
    text-shadow: 5px 3px 2px red;
    height: 140px;
   display: flex;
}
 .logo{
 	 width:150px ;
 	 height:75px;
 	 margin:15px;
 	 padding:15px;
 }
footer {
	font-size: 40px;
    color:limegreen;
    padding: 0px  ;
    margin: 0px;
  text-align: center;
   padding-top:250px;
display: block;
}
h6{
  font-size: 20px;
}
.text{
  text-align: center ;
	padding-top:30px;

	}
.a{
  font-size: 23px;
  color: aqua;
}

.ic{
	display: inline;
	font-size: 1px;
	margin: 5px;
	padding: 5px;
  width: 10px;
	margin-bottom: 15px;
  top: 15px;
}

.icon:hover {
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}
.person{ 

    width: 18%;
    margin:10px;
    color: lime;
    position: absolute;    
    top: 320px;
    right: 3%;
    font-style: bold;
    font-size: 18px;
    font-family: Comic Sans MS, Verdana, monospace;
font-style: oblique;

  text-decoration: underline;
  text-align: left;
}

.avatar{
  width:150px;
  border-radius:70%;
  padding-top:-80%;
  position: absolute;
  top:150px;
  left:80%;
  margin: 15px;
  padding: 10px;

}
.but{
  color: red;
  opacity: 0.5; 
  width: 150px;
   height:150px; 
  border-color: green;
  font-size: 16px; 
  border-radius: 90%;
  border-bottom: 12px;
}
  
@media screen and (max-width: 996px){
  .container header{
    font-size: 50px;
    text-align: center 50%;
  }
  
}